<article>
  <div>
    <button id="animal-name">{{animal_name}}</button> 
    <button id="buy-price">{{buy_price}}</button> 
    <button id="sell-price">{{sell_price}}</button> 
    <button id = "buy-{{this.id}}" data-buy-id="buy" data-buy-price ="{{buy_price}}"  data-animal-id="{{id}}" class="market-button-buy" onclick="buyBtnHandler('{{this.id}}')">Buy</button> 
    <button id = "sell-{{this.id}}" data-sell-id="sell" data-sell-price ="{{sell_price}}"  data-animal-id="{{id}}" class="market-button-sell" onclick="sellBtnHandler('{{this.id}}')">Sell</button>
  </div>
</article>