<article >
  <div>
    <button id="animal-name" data-animal-id="{{id}}" data-farm-id="{{farm.id}}" data-farm-fund="{{farm.fund}}">{{animal_name}}</button> <button id="buy-price">{{buy_price}}</button> <button id="sell-price">{{sell_price}}</button> <button id="buy" class="button">Buy</button> <button id="sell" class="button">Sell</button>
  </div>
</article>